---
import ButtonLink from "../ButtonLink.astro"
import IconButtonLink from "../IconButtonLink.astro"
import FluentIndexPointingLeftIcon from "../icons/FluentIndexPointingLeftIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"
import Tech, { TechFrontmatter } from "./Tech.astro"
export interface ProjectFrontmatter {
  meta: {
    name: string
    side: boolean
    cover: string
  }
  description: string
  techs: string[]
  links: { github?: string; demo?: string }
}

interface Props {
  project: ProjectFrontmatter
}
const { project } = Astro.props

const techFiles = await Astro.glob("../../content/techs/*.md")
const techs = project.techs
  .map((tech) => {
    return techFiles.find((techFile) => {
      return techFile?.frontmatter?.name === tech
    })
  })
  .filter(Boolean)
---

<div
  class="h-full w-full rounded bg-[linear-gradient(134.17deg,#FD841F_5.04%,#9C2C77_94.09%)] p-[1px]"
>
  <div
    class="flex h-full w-full flex-col justify-between gap-4 overflow-hidden rounded-[9px] bg-white p-6 sm:max-h-96 sm:flex-row"
  >
    <img
      src={project.meta.cover}
      class="h-36 w-full rounded object-cover sm:h-auto sm:w-2/5"
    />
    <div class="flex flex-col gap-6">
      <h3 class="text-2xl">{project.meta.name}</h3>
      <p class="line-clamp-5 max-w-full text-ellipsis italic text-black-70">
        {project.description}
      </p>
      <div class="flex gap-2">
        {
          techs.map((tech) => (
            <Tech tech={tech?.frontmatter as TechFrontmatter} />
          ))
        }
      </div>
      <div class="flex gap-2">
        <IconButtonLink
          href={project.links.github}
          disabled={!project.links.github}
        >
          <GithubIcon class="h-6 w-6" />
        </IconButtonLink>
        <ButtonLink
          href={project.links.demo}
          class="w-full"
          disabled={!project.links.demo}
        >
          Démo <FluentIndexPointingLeftIcon class="h-6 w-6" />
        </ButtonLink>
      </div>
    </div>
  </div>
</div>
